/**
 * @file main.css
 * @author Tony M
 */

body {
  background: #f4f4f4;
  font-family: 'Arimo', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

/**
 * Bootstrap overrides
 */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

/**
 * Custom style
 */
.about h1 {
  color: #553938;
}

.brand {
  display: inline-block;
  min-width: 100px;
  padding: 10px;
  width: 100%;
}
.carousel .img-responsive {
  display: inline-block;
}
.carousel-control {
  color: #d3323a;
  opacity: 0.7;
  width: 10%;
}
.carousel-control:active, .carousel-control:hover, .carousel-control:focus, .carousel-control:visited {
  color: #d3323a;
  opacity: 1;
}
.carousel-control.left, .carousel-control.right {
  background: none;
}
.carousel-control-image {
  overflow: hidden;
}
.carousel-container {
  padding: 0;
}
.carousel-control-image img {
  float: right;
  height: auto;
  max-width: inherit;
  opacity: 0.25;
}
.contact {
  background: #c6cfde;
  margin-top: 4%;
  padding-bottom: 2%;
  padding-top: 2%;
}
.contact h1 {
  color: #d3323a;
  font-size: 3em;
}
.contact .btn-primary {
  background: #d3323a;
  border: none;
  opacity: 0.9;
}
.contact .btn-primary:hover {
  opacity: 1;
}

footer {
  background: #6d8dc6;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: -2%;
  padding-top: 2%;
}

footer h5 {
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

footer a {
  color: #fff;
  font-weight: bold;
}

footer a:hover, footer a:focus {
  color: yellow;
  text-decoration: none;
}
.inspec {
  font-family: 'Questrial', 'Arimo', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.jumbotron {
  background: url(../img/jumbotron-lawn.jpg) top center no-repeat;
  display: block;
  height: auto;
  margin-bottom: 4%;
  max-width: 100%;
  opacity: 0.9;
  padding: 10% 0;
}

.jumbotron h1 {
  color: white;
  font-size: 6.2em;
  font-weight: bolder;
  letter-spacing: 0.02em;
  text-shadow: 3px 3px 8px #000000;
}

.jumbotron .btn {
  background: #d3323a;
  border: none;
  font-size: 2em;
  margin-top: 6%;
  opacity: 0.9;
  padding: 2%;
}
.jumbotron .btn:hover {
  color: yellow;
  opacity: 1;
}

.links a {
  display: inline-block;
  font-size: 2em;

}
.loading {
  text-align: center;
  font-size: 36px;
  margin-top: 60px;
}
.phone {
  color: #6d8dc6;
  font-size: 2.666em;
  margin-top: 12%;
}

.portfolio h1 {
  color: #6d8dc6;
  font-size: 6em;
  padding-right: 4%;
}

.portfolio p {
  color: #553938;
  font-size: 1.1em;
}

@media only screen and (max-width: 768px) {

  .about, .contact {
    margin: 0 6%;
  }

  .flowers {
    padding-top: 6%;
  }

  .jumbotron h1 {
    font-size: 3em;
  }
  .jumbotron .btn {
    font-size: 1.2em;
  }

  .phone {
    margin: 4% 0 10% 2%;
    text-align: left;
  }

  .portfolio h1{
    font-size: 4em;
    text-align: left;
  }

}