/**
 * @file main.css
 * @author Tony M
 */

body {
  background: #f4f4f4;
  font-family: 'Arimo', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

/**
 * Bootstrap overrides
 */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

/**
 * Custom style
 */
.brand {
  display: inline-block;
  min-width: 100px;
  padding: 10px;
  width: 100%;
}
.carousel .img-responsive {
  display: inline-block;
}
.carousel-control-image {
  overflow: hidden;
}
.carousel-container {
  padding: 0;
}
.carousel-control-image img {
  float: right;
  height: auto;
  max-width: inherit;
  opacity: 0.25;
}

.jumbotron {
  background: url(../img/jumbotron-lawn.jpg) top center no-repeat;
  display: block;
  height: auto;
  max-width: 100%;
  opacity: 0.9;
  padding: 10% 0;
}

.jumbotron h1 {
  color: white;
  font-size: 6.2em;
  font-weight: bolder;
  text-shadow: 3px 3px 8px #000000;
}

.jumbotron .btn {
  background: #d3323a;
  border: none;
}

.links a {
  display: inline-block;
  font-size: 2em;

}
.loading {
  text-align: center;
  font-size: 36px;
  margin-top: 60px;
}
.phone {
  color: #6d8dc6;
  font-size: 2em;
  margin-top: 10%;
}

@media only screen and (max-width: 768px) {

  .jumbotron h1 {
    font-size: 3em;
  }

  .phone {
    text-align: left;
  }

}