<div class="jumbotron">
  <div class="container">
    <div class="row">
      <h1>Landscaping Services in Portland, Oregon</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Contact us today</a></p>
    </div>
  </div>
</div>

<section class="gallery">
  <div class="container carousel-container">
    <div class="carousel slide" id="carousel" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

        {{#media}}

          <div class="item {{#active}}active{{/active}}">
            <div class="container carousel-container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div>
                    <img src="{{source}}" class="img-responsive" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

        {{/media}}


        <a href="#carousel" role="button" data-slide="prev" class="left carousel-control">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a href="#carousel" role="button" data-slide="next" class="right carousel-control">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div>

  <div>
    <h1>Categories</h1>
    {{#terms}}
      <p>{{name}}</p>
    {{/terms}}
  </div>
</section>

</section>

<section class="contact">
  <div class="container">
    <h1>Contact</h1>
  </div>
</section>


<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="row">
      <h2>We can help</h2>
    </div>
  </div>
</nav>


<footer>
  footer
</footer>